@charset "UTF_8";
.body {
  width: 100%;
  margin: 0;
}
li ,a{
  text-decoration: none;
  list-style: none;
  color: #000000;
}
h1 {
  width: fit-content;
  display: block;
  margin: 60px auto;
}
.registration,.login,.goal,.referenceArea {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  padding-bottom: 25px;
}
.itemName {
  width: 50%;
}
.reference, .input {
  box-sizing: border-box;
  padding: 0;
  width: 100px;
}
.unit{
  width: 20px;
  margin-left: 10px;
  text-align: left;
}
.goal,.referenceArea {
  margin-bottom: 30px;
}
.lineGraphArea {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.term {
  display: flex;
  justify-content: center;
}
.term div {
  padding: 0 5px;
}
.submit {
  margin: 0 auto;
  width: 30%;
  height: 25px;
}