<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ログイン/体重管理</title>
  </head>
  <body class="body">
    <%- include('header'); %>
    <h1>ログイン</h1>
    <form action="/login" method="post" class="login">
      <div class="flex">
        <div class="itemName">ユーザー名</div><input type="text" class="input" name="username" />
      </div>
      <div class="flex">
        <div class="itemName">パスワード</div><input type="password" class="input" name="password" />
      </div>
      <input type="submit" class="submit" value="ログイン" />
    </form>
    <%- include('footer'); %>
    <!-- <script src="/js/login.js" async></script> -->
  </body>
</html>