<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>メイン/体重管理</title>
  </head>
  <body class="body mainPageBody">
    <%- include('header'); %>
    <h1>メイン</h1>
    <form class="inputForm">
      <div class="flex">
        <div class="itemName">日付</div><input type="date" class="input" id="inputDate" name="inputDate" />
      </div>
      <div class="flex">
        <div class="itemName">体重</div><input type="number" step="0.01" class="input" name="weightOnInputDate" /><div class="unit">kg</div>
      </div>
      <input type="submit" class="submit" value="送信" />
    </form>
    <div class="referenceArea">
      <div class="flex displayNone">
        <div class="itemName">目標体重</div><div class="reference"></div><div class="unit">kg</div>
      </div>
      <div class="flex toTarget">
        <div class="itemName">目標体重まで&emsp;あと</div><div class="reference"></div><div class="unit">kg</div>
      </div>
      <div class="flex">
        <div class="itemName">達成率</div><div class="reference"></div><div class="unit">%</div>
      </div>
      <div class="flex">
        <div class="itemName">昨日との比較</div><div class="reference"></div><div class="unit">kg</div>
      </div>
    </div>
    <div class="lineGraphArea">
      <div class="term">
        <div class="termStart">開始</div><div>〜</div><div class="termEnd">終了</div>
      </div>
      <div class="lineGraph">
        <canvas id="stage"></canvas>
      </div>
    </div>
    <script src="/js/inputDate.js" async></script>
    <script src="/js/lineGraph.js" async></script>
  </body>
</html>